/* line 1, ../_scss/into.scss */
.park-space {
  margin-bottom: 20px;
}
/* line 3, ../_scss/into.scss */
.park-space .park-id {
  font-size: 70px;
  text-align: center;
  line-height: 1.8em;
}
/* line 8, ../_scss/into.scss */
.park-space .confirm {
  font-size: 14px;
  color: #444;
  text-align: center;
}

/* line 16, ../_scss/into.scss */
.park-change .confirm {
  margin: 25px 0 10px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

/* line 24, ../_scss/into.scss */
.loading {
  margin: 150px 0;
  text-align: center;
}
