<header class="global-header" ng-controller="headerCtrl">
	<div class="left">
		<div class="logo-dummy" style="line-height: 33px;">
			プチ<span style="margin-left: 2px; padding: 0 2px; font-weight: bold; color: white; background: #666;">Ｐ</span><span style="margin-left: 2px; font-size:12px; color: #555;">@松島町</span>
		</div>
	</div>
	<div class="right">
		<div class="user-name">{{greet}}<span class="name">{{userName}}</span>さん</div>
		<div class="user-id">ID:<span class="number">{{userId}}</ID:span></div>
	</div>
</header>